[submodule ".registry"]
	path = .registry
	url = https://github.com/calderonsamuel/universe
	branch = HEAD
[submodule "appReporteAvance"]
	path = appReporteAvance
	url = https://github.com/calderonsamuel/appReporteAvance
[submodule "appsheet"]
	path = appsheet
	url = https://github.com/calderonsamuel/appsheet
[submodule "casemisc"]
	path = casemisc
	url = https://github.com/calderonsamuel/casemisc
[submodule "firebase"]
	path = firebase
	url = https://github.com/JohnCoene/firebase
	registered = false
[submodule "perumapas"]
	path = perumapas
	url = https://github.com/calderonsamuel/perumapas
[submodule "perupobreza2018"]
	path = perupobreza2018
	url = https://github.com/calderonsamuel/perupobreza2018
[submodule "perutranspaeconomica"]
	path = perutranspaeconomica
	url = https://github.com/calderonsamuel/perutranspaeconomica
[submodule "templatesRmd"]
	path = templatesRmd
	url = https://github.com/calderonsamuel/templatesRmd
